<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>clicka jogos</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../public/css/index.css">
</head>
<body>
<nav id="menu">
<a href="#"><img id="logo" src="../../public/imagens/log.png"></a>
<ul id="gra">
<form method="post" id="formu" >
	<input type="text" name="busca" id="busque" placeholder="O que você quer jogar?"  class="fm">
	</form>
</ul>
<ul>
	<li id="cada"><a id="ca" href="../user/cadastro">CADASTRAR</a></li>
	<li id="entra"><a id="en" href="../user/login">ENTRAR</a></li>
</ul>
</nav>

<h1>bons jogos</h1>



<figure>
<img src="../../public/imagens/sas.png" width="150">
<p id="sa">Sword And Sandals</p>
<a href="https://www.clickjogos.com.br/Jogos-online/Acao-e-Aventura/Swords-and-Sandals"><figcaption>
	<p>crie seu gladiador e vá a luta</p>
</figcaption></a>
</figure>

<figure class="papa">
<img src="../../public/imagens/papa.jpg" width="150" height = "90">
<p id="sa">Papa Freezeria</p>
<a href="https://www.clickjogos.com.br/jogos/papas-freezeria"><figcaption>
	<p>venda deliciosos milk shakes</p>
</figcaption></a>
</figure>

<figure class="dumb">
<img src="../../public/imagens/dum.png" width="150" height="90">
<p id="sa">Dumb Ways To Die</p>
<a href="https://play.google.com/store/apps/details?id=com.popreach.dumbways&hl=pt_BR"><figcaption>
	<p>jogo muito bom super recomendo</p>
</figcaption></a>
</figure>
</body>
</html>