<html>

<head lang="pt-br">

<title>LOGIN</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../../public/css/login.css">

</head>

<body>

<div id = "tudo">

<div id="logo">
<a href="../index"><img src="../../public/imagens/log.png" width=250></a>
</div>

<div id="form">
<form action="#" method="post">
<br><input type="email" name="email" placeholder="digite seu email" ><br>
<br><input type="password" name="senha" placeholder="digite sua senha"><br>
<br><input type="submit" name="Entrar" value="Entrar" id="submit">
</form>
</div>

<ul>
    <li><a href="#" id="link">esqueci a senha</a></li>
    <li><a href="cadastro" id="link">cadastrar-se</a></li>
</ul>

</div>

</body>

</html>